importing the required libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib

loading the dataset [(Kaggle Download Link)](https://www.kaggle.com/datasets/ander289386/cars-germany)

In [4]:
df1=pd.read_csv("autoscout24-germany-dataset.csv")
df1.head(10)

,mileage,make,model,fuel,gear,offerType,price,hp,year
0,235000,BMW,316,Diesel,Manual,Used,6800,116.0,2011
1,92800,Volkswagen,Golf,Gasoline,Manual,Used,6877,122.0,2011
2,149300,SEAT,Exeo,Gasoline,Manual,Used,6900,160.0,2011
3,96200,Renault,Megane,Gasoline,Manual,Used,6950,110.0,2011
4,156000,Peugeot,308,Gasoline,Manual,Used,6950,156.0,2011
5,147000,Toyota,Auris,Electric/Gasoline,Automatic,Used,6950,99.0,2011
6,91894,Renault,Scenic,Diesel,Manual,Used,6970,131.0,2011
7,127500,Opel,Zafira,Gasoline,Manual,Used,6972,116.0,2011
8,115000,Mazda,3,Gasoline,Automatic,Used,6980,150.0,2011
9,104,Ford,Transit,Diesel,Manual,Used,6990,86.0,2011

Data Cleaning: handling with NaN values

In [8]:
df1.isnull().sum()    #check how many value have nan values

mileage        0
make           0
model        143
fuel           0
gear         182
offerType      0
price          0
hp            29
year           0
dtype: int64

In [10]:
df2=df1.dropna()            #very small number of values have Nan values so simply drop them
df2.isnull().sum()          # mean or aveage could also be take if you have small dataset

mileage      0
make         0
model        0
fuel         0
gear         0
offerType    0
price        0
hp           0
year         0
dtype: int64

Count the number of cars of each brand

In [16]:
counts_of_makers=df1.groupby('make')['make'].agg('count').sort_values(ascending=False)
counts_of_makers

make
Volkswagen    6931
Opel          4814
Ford          4442
Skoda         2889
Renault       2830
              ...
Tazzari          1
Trucks-Lkw       1
FISKER           1
Zhidou           1
9ff              1
Name: make, Length: 77, dtype: int64

In [15]:
df2['make'].unique()

array(['BMW', 'Volkswagen', 'SEAT', 'Renault', 'Peugeot', 'Toyota',
       'Opel', 'Mazda', 'Ford', 'Mercedes-Benz', 'Chevrolet', 'Audi',
       'Fiat', 'Kia', 'Dacia', 'MINI', 'Hyundai', 'Skoda', 'Citroen',
       'Infiniti', 'Suzuki', 'SsangYong', 'smart', 'Cupra', 'Volvo',
       'Jaguar', 'Porsche', 'Nissan', 'Honda', 'Mitsubishi', 'Lexus',
       'Jeep', 'Maserati', 'Bentley', 'Land', 'Alfa', 'Subaru', 'Dodge',
       'Microcar', 'Lamborghini', 'Lada', 'Tesla', 'Chrysler', 'McLaren',
       'Aston', 'Rolls-Royce', 'Lancia', 'Abarth', 'DS', 'Daihatsu',
       'Ligier', 'Ferrari', 'Aixam', 'Zhidou', 'Morgan', 'Maybach', 'RAM',
       'Alpina', 'Polestar', 'Brilliance', 'Piaggio', 'FISKER', 'Others',
       'Cadillac', 'Iveco', 'Isuzu', 'Corvette', 'Baic', 'DFSK',
       'Estrima', 'Alpine'], dtype=object)

Check if some brands have very less number of cars, lets say less than 5

In [44]:
make_stat_less_than_5=counts_of_makers[counts_of_makers<5]
print('Total number of Brands:',len(df2.make.unique()))
print('Number of brands less than 5 cars:',len(make_stat_less_than_5))

# sum(make_stat_less_than_5)

Total number of Brands: 71
Number of brands less than 5 cars: 21

To make it simple assign all of these cars to Other and drop them

In [45]:
df3=df2.copy()
df3.make=df3.make.apply(lambda x: 'others' if x in make_stat_less_than_5 else x)

In [96]:
df4=df3[~(df3.make=='others')]

In [97]:
print('Total number of Brands',len(df2.make.unique()))
print('Number of brands with other',len(df4.make.unique()))

Total number of Brands 71
Number of brands with other 56

In [98]:
df4.head()

   mileage        make   model      fuel    gear offerType  price     hp  year
0   235000         BMW     316    Diesel  Manual      Used   6800  116.0  2011
1    92800  Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0  2011
2   149300        SEAT    Exeo  Gasoline  Manual      Used   6900  160.0  2011
3    96200     Renault  Megane  Gasoline  Manual      Used   6950  110.0  2011
4   156000     Peugeot     308  Gasoline  Manual      Used   6950  156.0  2011

For further simplification of dataset, drop unnecessary columns

In [99]:
df5=df4.drop(['fuel','gear','offerType','model'],axis='columns')
df5.head()

   mileage        make  price     hp  year
0   235000         BMW   6800  116.0  2011
1    92800  Volkswagen   6877  122.0  2011
2   149300        SEAT   6900  160.0  2011
3    96200     Renault   6950  110.0  2011
4   156000     Peugeot   6950  156.0  2011

Hard-encoding for brand names(makers)

In [100]:
dummies=pd.get_dummies(df5.make)

In [101]:
df6=pd.concat([df5,dummies.drop('SsangYong',axis='columns')],axis="columns")
df6.head()

,mileage,make,price,hp,year,Abarth,Alfa,Alpina,Alpine,Aston,...,Renault,SEAT,Skoda,Subaru,Suzuki,Tesla,Toyota,Volkswagen,Volvo,smart
0,235000,BMW,6800,116.0,2011,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,92800,Volkswagen,6877,122.0,2011,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,149300,SEAT,6900,160.0,2011,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,96200,Renault,6950,110.0,2011,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,156000,Peugeot,6950,156.0,2011,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

As make is hard-encoded, so we can drop it

In [102]:
df7=df6.drop(['make'],axis='columns')
df7.shape

(46040, 59)

Preparing Train and Test set

In [105]:
x=df7.drop(['price'],axis='columns')
x.shape

(46040, 58)

In [108]:
y=df7.price
y.head()

# sum(df7.mileage)

0    6800
1    6877
2    6900
3    6950
4    6950
Name: price, dtype: int64

In [113]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [114]:
from sklearn.linear_model import LinearRegression
lr_clf=LinearRegression()
lr_clf.fit(x_train,y_train)
lr_clf.score(x_test,y_test)

0.7809593329826316

Cross_validation

In [125]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv=ShuffleSplit(n_splits=5,test_size=0.2,random_state=0)
cross_val=cross_val_score(LinearRegression(),x,y,cv=cv)
cross_val

array([0.78930057, 0.79564121, 0.84024561, 0.6810871 , 0.79522155])

In [132]:
max(cross_val)

0.8402456111653037

In [133]:
def predict_price(mileage,hp,year,make):
  loc_index=np.where(x.columns==make)[0][0]
  
  Xx=np.zeros(len(x.columns))
  Xx[0]=mileage
  Xx[1]=hp
  Xx[2]=year
  if loc_index>=0:
    Xx[loc_index]=1
  return lr_clf.predict([Xx])[0]

In [134]:
predict_price(200000,150, 2011, 'Ford')

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

5236.281438962091

In [140]:
predict_price(200000,200, 2016, 'Audi')

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

22454.4966823617

In [141]:
predict_price(200000,200, 2021, 'BMW')

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

24199.571875155438